force-app/main/default/flows/Annual_Giving_Membership_Individuals_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>myRule_1</name>
        <label>Campaign = PAWS Protector</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Campaign = PAWS Protector</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.npe01__One2OneContact__r.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2499.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>TRUE_Campaign = PAWS Protector</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_13</name>
        <label>Campaign = PAWS Champion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_19</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Campaign = PAWS Champion</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>5000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.npe01__One2OneContact__r.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>9999.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>TRUE_Campaign = PAWS Champion</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_19</name>
        <label>Campaign = PAWS Guardian</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>FALSE_Campaign = PAWS Guardian</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>10000.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.npe01__One2OneContact__r.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>TRUE_Campaign = PAWS Guardian</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7</name>
        <label>Campaign = PAWS Lifesaver</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myRule_13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>FALSE_Campaign = PAWS Lifesaver</defaultConnectorLabel>
        <rules>
            <name>TRUE_myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2500.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.npe01__One2OneContact__r.npsp__Primary_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>4999.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>TRUE_Campaign = PAWS Lifesaver</label>
        </rules>
    </decisions>
    <description>Migrated from the Annual Giving Membership: Individuals process using multiple criteria.
removing tasks</description>
    <formulas>
        <name>formula_10_myRule_13_A5_5495630381</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_11_myRule_13_A4_2615374190</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>
    <formulas>
        <name>formula_12_myRule_13_A3_1873399772</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_13_myRule_19_A5_9585146120</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>
    <formulas>
        <name>formula_14_myRule_19_A5_0339784806</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_15_myRule_19_A4_5767747037</name>
        <dataType>Date</dataType>
        <expression>TODAY() +365</expression>
    </formulas>
    <formulas>
        <name>formula_16_myRule_19_A3_5239591306</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_1_myRule_1_A5_9411189860</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>
    <formulas>
        <name>formula_2_myRule_1_A5_1658786369</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_3_myRule_1_A4_2716792883</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>
    <formulas>
        <name>formula_4_myRule_1_A3_9929401986</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_5_myRule_7_A5_7145260588</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>
    <formulas>
        <name>formula_6_myRule_7_A5_3169234007</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_7_myRule_7_A4_9941360159</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>
    <formulas>
        <name>formula_8_myRule_7_A3_3324032761</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_9_myRule_13_A5_4893528602</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>
    <label>Annual Giving Membership: Individuals_1</label>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>myRule_13_A1</name>
        <label>Membership Level</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_13_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>Membership_Level__c</field>
            <value>
                <stringValue>PAWS Forever Home Circle - PAWS Champion</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_13_A2</name>
        <label>Membership Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_13_A3</targetReference>
        </connector>
        <inputAssignments>
            <field>Total_Membership_Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_13_A3</name>
        <label>Membership Join Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_13_A4</targetReference>
        </connector>
        <inputAssignments>
            <field>Membership_Start_Date__c</field>
            <value>
                <elementReference>formula_12_myRule_13_A3_1873399772</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_13_A4</name>
        <label>Membership End Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_13_A5</targetReference>
        </connector>
        <inputAssignments>
            <field>Membership_Expiration_Date__c</field>
            <value>
                <elementReference>formula_11_myRule_13_A4_2615374190</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_13_A5</name>
        <label>Update donation with member info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>npe01__Member_Level__c</field>
            <value>
                <stringValue>Forever Home Circle - PAWS Champion</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Membership_End_Date__c</field>
            <value>
                <elementReference>formula_9_myRule_13_A5_4893528602</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Membership_Start_Date__c</field>
            <value>
                <elementReference>formula_10_myRule_13_A5_5495630381</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_19_A1</name>
        <label>Membership Level</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_19_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>Membership_Level__c</field>
            <value>
                <stringValue>PAWS Forever Home Circle - PAWS Guardian Angel</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_19_A2</name>
        <label>Membership Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_19_A3</targetReference>
        </connector>
        <inputAssignments>
            <field>Total_Membership_Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_19_A3</name>
        <label>Membership Join Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_19_A4</targetReference>
        </connector>
        <inputAssignments>
            <field>Membership_Start_Date__c</field>
            <value>
                <elementReference>formula_16_myRule_19_A3_5239591306</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_19_A4</name>
        <label>Membership End Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_19_A5</targetReference>
        </connector>
        <inputAssignments>
            <field>Membership_Expiration_Date__c</field>
            <value>
                <elementReference>formula_15_myRule_19_A4_5767747037</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_19_A5</name>
        <label>Update donation with member info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>npe01__Member_Level__c</field>
            <value>
                <stringValue>Forever Home Circle - PAWS Guardian Angel</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Membership_End_Date__c</field>
            <value>
                <elementReference>formula_13_myRule_19_A5_9585146120</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Membership_Start_Date__c</field>
            <value>
                <elementReference>formula_14_myRule_19_A5_0339784806</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A1</name>
        <label>Membership Level</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>Membership_Level__c</field>
            <value>
                <stringValue>PAWS Forever Home Circle - PAWS Protector</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A2</name>
        <label>Membership Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1_A3</targetReference>
        </connector>
        <inputAssignments>
            <field>Total_Membership_Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A3</name>
        <label>Membership Join Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1_A4</targetReference>
        </connector>
        <inputAssignments>
            <field>Membership_Start_Date__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A3_9929401986</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A4</name>
        <label>Membership End Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1_A5</targetReference>
        </connector>
        <inputAssignments>
            <field>Membership_Expiration_Date__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A4_2716792883</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_1_A5</name>
        <label>Update donation with member info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>npe01__Member_Level__c</field>
            <value>
                <stringValue>Forever Home Circle - PAWS Protector</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Membership_End_Date__c</field>
            <value>
                <elementReference>formula_1_myRule_1_A5_9411189860</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Membership_Start_Date__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A5_1658786369</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A1</name>
        <label>Membership Level</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_7_A2</targetReference>
        </connector>
        <inputAssignments>
            <field>Membership_Level__c</field>
            <value>
                <stringValue>PAWS Forever Home Circle - PAWS Lifesaver</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A2</name>
        <label>Membership Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_7_A3</targetReference>
        </connector>
        <inputAssignments>
            <field>Total_Membership_Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A3</name>
        <label>Membership Join Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_7_A4</targetReference>
        </connector>
        <inputAssignments>
            <field>Membership_Start_Date__c</field>
            <value>
                <elementReference>formula_8_myRule_7_A3_3324032761</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A4</name>
        <label>Membership End Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_7_A5</targetReference>
        </connector>
        <inputAssignments>
            <field>Membership_Expiration_Date__c</field>
            <value>
                <elementReference>formula_7_myRule_7_A4_9941360159</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>myRule_7_A5</name>
        <label>Update donation with member info</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>npe01__Member_Level__c</field>
            <value>
                <stringValue>Forever Home Circle - PAWS Lifesaver</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Membership_End_Date__c</field>
            <value>
                <elementReference>formula_5_myRule_7_A5_7145260588</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Membership_Start_Date__c</field>
            <value>
                <elementReference>formula_6_myRule_7_A5_3169234007</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>myRule_1</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
