force-app/main/default/flows/Classy_Recurring_Gifts_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>close_recurring_donation</name>
        <label>close recurring donation</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>npe03__Recurring_Donation__c.npsp__Close_Recurring_Donation</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>uncheck_recurring_donor_on_contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.classy_npsp__Recurring_Donations__r.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>npsp__ClosedReason__c</name>
            <value>
                <stringValue>Unknown</stringValue>
            </value>
        </inputParameters>
        <nameSegment>npe03__Recurring_Donation__c.npsp__Close_Recurring_Donation</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <constants>
        <name>active</name>
        <dataType>String</dataType>
        <value>
            <stringValue>active</stringValue>
        </value>
    </constants>
    <constants>
        <name>canceled</name>
        <dataType>String</dataType>
        <value>
            <stringValue>canceled</stringValue>
        </value>
    </constants>
    <constants>
        <name>failed</name>
        <dataType>String</dataType>
        <value>
            <stringValue>failed</stringValue>
        </value>
    </constants>
    <constants>
        <name>failing</name>
        <dataType>String</dataType>
        <value>
            <stringValue>failing</stringValue>
        </value>
    </constants>
    <decisions>
        <description>check status of classy rd</description>
        <name>check_status</name>
        <label>check status</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>failingS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stayclassy__status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>failing</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_task</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>failing</label>
        </rules>
        <rules>
            <name>Sfailed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stayclassy__status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>failed</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.stayclassy__status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>canceled</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>close_recurring_donation</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>failed or canceled</label>
        </rules>
        <rules>
            <name>Sactive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stayclassy__status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>active</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>set_recurring_donor_on_contact</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>active</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>Classy Recurring Gifts Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Classy Recurring Gifts Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>create task for Tatum to review</description>
        <name>create_task</name>
        <label>create task</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>A Recurring Donation is failing. TK to email the donor to encourage them to update their information.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00539000005PKHBAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>A Recurring Donation is failing. TK to email the donor to encourage them to update their information.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.stayclassy__sf_contact_id__r.Account.Account_ID_18__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.stayclassy__sf_contact_id__r.Contact_ID_18__c</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>set_recurring_donor_on_contact</name>
        <label>set recurring donor on contact</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Recurring_donor__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Recurring_donor__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.stayclassy__sf_contact_id__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>uncheck_recurring_donor_on_contact</name>
        <label>uncheck recurring donor on contact</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Recurring_donor__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.stayclassy__sf_contact_id__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>stayclassy__status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>failed</stringValue>
            </value>
        </filters>
        <filters>
            <field>stayclassy__status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>failing</stringValue>
            </value>
        </filters>
        <filters>
            <field>stayclassy__status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>stayclassy__status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>active</stringValue>
            </value>
        </filters>
        <object>stayclassy__sc_recurring_profile__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
