force-app/main/default/flows/Donation_Main_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>YFP_Email_Alert</name>
        <label>YFP Email Alert</label>
        <locationX>50</locationX>
        <locationY>1955</locationY>
        <actionName>Contact.Young_Friends_Sign_Up_Email_Alert_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Contact.Young_Friends_Sign_Up_Email_Alert_Contact</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Memory_or_Honor</name>
        <label>Memory or Honor</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Young_Friends_Giving</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Memory</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stayclassy__dedication_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>memory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.stayclassy__dedication_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>honor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.npsp__Notification_Preference__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Postal Mail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_HM_Task</targetReference>
            </connector>
            <label>Memory</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Email_Used</name>
        <label>New Email Used</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>New_Phone_Used</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stayclassy__Classy_Member_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.npsp__Primary_Contact__r.npe01__AlternateEmail__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.stayclassy__Classy_Member_Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Alternate_Email</targetReference>
            </connector>
            <label>New Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Phone_Used</name>
        <label>New Phone Used</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Memory_or_Honor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Phone</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.stayclassy__Classy_Member_Phone__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.stayclassy__Classy_Member_Phone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.npsp__Primary_Contact__r.OtherPhone</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.stayclassy__Classy_Member_Phone__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.npsp__Primary_Contact__r.Phone</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Phone</targetReference>
            </connector>
            <label>New Phone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Young_Friends_Giving</name>
        <label>Young Friends Giving</label>
        <locationX>182</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Young_Friends_Membership</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7013p000001Nj26AAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_Contact</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Young_Friends_Membership</name>
        <label>Young Friends Membership</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>(1 OR (2 AND 3)) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>60.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>5.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recurring</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7013p000001Nj26AAC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Donation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>today365</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 365</expression>
    </formulas>
    <interviewLabel>Donation Main Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Donation Main Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_HM_Task</name>
        <label>Create HM Task</label>
        <locationX>50</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Young_Friends_Giving</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00539000005PKHBAA4</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Stewardship</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Honor or Memory Donation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Mailing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>$Record.Account.npe01__One2OneContact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>set Young Friends = Active on Contact</description>
        <name>Copy_1_of_Update_Contact</name>
        <label>Copy 1 of Update Contact</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>Young_Friends_Membership</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact_ID_18__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Young_Friends__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Young_Friends__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <connector>
            <targetReference>YFP_Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Membership_Level__c</field>
            <value>
                <stringValue>Young Friends of PAWS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Membership_Start_Date__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Membership_Amount__c</field>
            <value>
                <elementReference>$Record.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npo02__MembershipEndDate__c</field>
            <value>
                <elementReference>today365</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Alternate_Email</name>
        <label>Update Alternate Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>New_Phone_Used</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>npe01__AlternateEmail__c</field>
            <value>
                <elementReference>$Record.stayclassy__Classy_Member_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Donation</name>
        <label>Update Donation</label>
        <locationX>50</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>npe01__Member_Level__c</field>
            <value>
                <stringValue>Young Friends of PAWS</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Membership_End_Date__c</field>
            <value>
                <elementReference>today365</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>npe01__Membership_Start_Date__c</field>
            <value>
                <elementReference>today</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Other_Phone</name>
        <label>Update Other Phone</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <connector>
            <targetReference>Memory_or_Honor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherPhone</field>
            <value>
                <elementReference>$Record.stayclassy__Classy_Member_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Phone</name>
        <label>Update Business Phone</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <connector>
            <targetReference>Update_Other_Phone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.npsp__Primary_Contact__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>$Record.stayclassy__Classy_Member_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Email_Used</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
