force-app/main/default/flows/Process_Contacts_From_Pipeline.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Parse_JSON</name>
        <label>Parse JSON</label>
        <locationX>176</locationX>
        <locationY>170</locationY>
        <actionName>ParseJSON</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Contacts_Loop</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>jsonString</name>
            <value>
                <elementReference>$Record.updated_contacts_json__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ParseJSON</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>ContactInfo</assignToReference>
            <name>contactsInfo</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Add_Contact_To_Bulk_Update</name>
        <label>Add Contact To Bulk Update</label>
        <locationX>264</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>UpdatedContactsFromLoop</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Contact</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Contacts_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flow_Variables_To_Contact</name>
        <label>Assign Flow Variables To Contact</label>
        <locationX>264</locationX>
        <locationY>494</locationY>
        <assignmentItems>
            <assignToReference>Get_Contact.First_volunteer_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedFirstVoluneerDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Foster_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedFosterEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Foster_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedFosterStartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Last_volunteer_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedLastVolunteerDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Total_volunteer_hours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedTotalVolunteerHours</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Volunteer_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UpdatedVolunteerStatus</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Contact.Duplicate_Ids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DuplicateIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Contact_To_Bulk_Update</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>ConvertedFirstVolunteerDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!FirstVolunteerDate})</expression>
    </formulas>
    <formulas>
        <name>ConvertedFosterEndDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!FosterEndDate})</expression>
    </formulas>
    <formulas>
        <name>ConvertedFosterStartDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!FosterStartDate})</expression>
    </formulas>
    <formulas>
        <name>ConvertedLastVolunteerDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!LastVolunteerDate})</expression>
    </formulas>
    <formulas>
        <name>ConvertedTotalVolunteerHours</name>
        <dataType>Number</dataType>
        <expression>VALUE({!TotalVolunteerHours})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DuplicatePersonIds</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Contacts_Loop.personIds}, &apos;[&apos;, &apos;&apos;), &apos;]&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>DuplicateVolgisticIds</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!Contacts_Loop.volgisticIds}, &apos;[&apos;, &apos;&apos;), &apos;]&apos;, &apos;&apos;)</expression>
    </formulas>
    <formulas>
        <name>UpdatedFirstVoluneerDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!Contacts_Loop.firstVolunteerDate}), 
    {!Get_Contact.First_volunteer_date__c}, 
    DATEVALUE({!Contacts_Loop.firstVolunteerDate})
)</expression>
    </formulas>
    <formulas>
        <name>UpdatedFosterEndDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!Contacts_Loop.fosterEndDate}), 
    {!Get_Contact.Foster_End_Date__c}, 
    DATEVALUE({!Contacts_Loop.fosterEndDate})
)</expression>
    </formulas>
    <formulas>
        <name>UpdatedFosterStartDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!Contacts_Loop.fosterStartDate}), 
    {!Get_Contact.Foster_Start_Date__c}, 
    DATEVALUE({!Contacts_Loop.fosterStartDate})
)</expression>
    </formulas>
    <formulas>
        <name>UpdatedLastVolunteerDate</name>
        <dataType>Date</dataType>
        <expression>IF(
    ISBLANK({!Contacts_Loop.lastVolunteerDate}), 
    {!Get_Contact.Last_volunteer_date__c}, 
    DATEVALUE({!Contacts_Loop.lastVolunteerDate})
)</expression>
    </formulas>
    <formulas>
        <name>UpdatedTotalVolunteerHours</name>
        <dataType>Number</dataType>
        <expression>IF(
    ISBLANK({!Contacts_Loop.totalVolunteerHours}), 
    {!Get_Contact.Total_volunteer_hours__c}, 
    VALUE({!Contacts_Loop.totalVolunteerHours})
)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UpdatedVolunteerStatus</name>
        <dataType>String</dataType>
        <expression>IF(
    ISBLANK({!Contacts_Loop.volunteerStatus}),
    TEXT({!Get_Contact.Volunteer_Status__c}),
    {!Contacts_Loop.volunteerStatus}
)</expression>
    </formulas>
    <interviewLabel>Process Contacts From Pipeline {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Contacts From Pipeline</label>
    <loops>
        <description>Loop through contacts returned by Apex Action</description>
        <name>Contacts_Loop</name>
        <label>Contacts Loop</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <collectionReference>ContactInfo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Contact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get contact from PAWS Org using the Id of the current updated contact in the Contact Loop</description>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>264</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Flow_Variables_To_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contacts_Loop.contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Duplicate_Person_Ids__c</queriedFields>
        <queriedFields>Duplicate_Volgistic_Ids__c</queriedFields>
        <queriedFields>First_volunteer_date__c</queriedFields>
        <queriedFields>Foster_End_Date__c</queriedFields>
        <queriedFields>Foster_Start_Date__c</queriedFields>
        <queriedFields>Last_volunteer_date__c</queriedFields>
        <queriedFields>Total_volunteer_hours__c</queriedFields>
        <queriedFields>Volunteer_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contacts</name>
        <label>Update Contacts</label>
        <locationX>176</locationX>
        <locationY>794</locationY>
        <inputReference>UpdatedContactsFromLoop</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Parse_JSON</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>updated_contacts_batched__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>DuplicateIds</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Volgistic Ids: {!DuplicateVolgisticIds}
ShelverLuv Person Ids: {!DuplicatePersonIds}</text>
    </textTemplates>
    <variables>
        <name>ContactInfo</name>
        <apexClass>ContactInfo</apexClass>
        <dataType>Apex</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactsFromParser</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FirstVolunteerDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FosterEndDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FosterStartDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastVolunteerDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalVolunteerHours</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdatedContactsFromAction</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>UpdatedContactsFromLoop</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>VolunteerStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
