force-app/main/default/flows/RFME_Analysis_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Perform_Contact_RFM_Analysis</name>
        <label>Perform Contact RFM Analysis</label>
        <locationX>352</locationX>
        <locationY>468</locationY>
        <actionName>PerformContactRFMAnalysis</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Loop_Donations</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__opportunities</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>opportunities</name>
            <value>
                <elementReference>Get_Closed_Won_Donations</elementReference>
            </value>
        </inputParameters>
        <nameSegment>PerformContactRFMAnalysis</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Updated_Contacts_Email</name>
        <label>Send Updated Contacts Email</label>
        <locationX>352</locationX>
        <locationY>1608</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>ffRecipientEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>OrgWideEmailAddress</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>ddphillyfan@gmail.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>ttEmailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ttEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Primary_Contact_Ids</name>
        <label>Add Primary Contact Ids</label>
        <locationX>440</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>ContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Donations.npsp__Primary_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Donations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Recipient_Emails</name>
        <label>Add Recipient Emails</label>
        <locationX>352</locationX>
        <locationY>1500</locationY>
        <assignmentItems>
            <assignToReference>ffRecipientEmail</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ddphillyfan@gmail.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Updated_Contacts_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Table</name>
        <label>Build Table</label>
        <locationX>440</locationX>
        <locationY>1200</locationY>
        <assignmentItems>
            <assignToReference>vaEmailTableBody</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ttTableRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRowNumber</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Primary_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_Table</name>
        <label>Close Table</label>
        <locationX>352</locationX>
        <locationY>1392</locationY>
        <assignmentItems>
            <assignToReference>vaEmailTableBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/table&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaEmailTableBody</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/div&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_Recipient_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Table</name>
        <label>Create Table</label>
        <locationX>352</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>vaEmailTableBody</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ttTableHeader</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vaRowNumber</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Primary_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_We_Got_Donations</name>
        <label>Check If We Got Donations</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Perform_Contact_RFM_Analysis</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Donations Found</defaultConnectorLabel>
        <rules>
            <name>No_Donations_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Closed_Won_Donations</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Donations Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Table row background color: odd rows = no color</description>
        <name>ffBackgroundColor</name>
        <dataType>String</dataType>
        <expression>IF(MOD({!vaRowNumber},2) = 0, &quot;#f2f2f2&quot;, &quot;#ffffff&quot;)</expression>
    </formulas>
    <formulas>
        <name>ffBaseURL</name>
        <dataType>String</dataType>
        <expression>Left({!$Api.Enterprise_Server_URL_190},(find(&apos;/services&apos;,{!$Api.Enterprise_Server_URL_190})))</expression>
    </formulas>
    <formulas>
        <name>ffMonthDayYear</name>
        <dataType>String</dataType>
        <expression>CASE(MONTH(TODAY()),1,&quot;January&quot;,2,&quot;February&quot;, 3, &quot;March&quot;, 4,&quot;April&quot;,5,&quot;May&quot;,6,&quot;June&quot;,7,&quot;July&quot;,8,&quot;August&quot;,9,&quot;September&quot;,10,&quot;October&quot;,11,&quot;November&quot;,12,&quot;December&quot;,&quot;Voldemort&quot;) &amp; &quot; &quot; 
 &amp; TEXT(DAY(TODAY())) &amp; &quot; &quot; &amp; TEXT(YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>StartDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()-364</expression>
    </formulas>
    <interviewLabel>RFME Analysis {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RFME Analysis Flow</label>
    <loops>
        <name>Loop_Donations</name>
        <label>Loop Donations</label>
        <locationX>352</locationX>
        <locationY>576</locationY>
        <collectionReference>Get_Closed_Won_Donations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_Primary_Contact_Ids</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Primary_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Primary_Contacts</name>
        <label>Loop Primary Contacts</label>
        <locationX>352</locationX>
        <locationY>1092</locationY>
        <collectionReference>Get_Primary_Contacts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Build_Table</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Close_Table</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Closed_Won_Donations</name>
        <label>Get Closed Won Donations</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_We_Got_Donations</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Amount</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>npsp__Primary_Contact__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>CloseDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CloseDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Primary_Contacts</name>
        <label>Get Primary Contacts</label>
        <locationX>352</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Table</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ContactIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Closed_Won_Donations</targetReference>
        </connector>
        <schedule>
            <frequency>Weekly</frequency>
            <startDate>2022-09-19</startDate>
            <startTime>06:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hi Philly PAWS,&lt;/p&gt;&lt;p&gt;Below are the Contacts who have had their RFME Scores processed on {!ffMonthDayYear}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!vaEmailTableBody}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttEmailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Review Contacts who went through RFME processing: {!ffMonthDayYear}</text>
    </textTemplates>
    <textTemplates>
        <name>ttTableHeader</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div style=&quot;max-width:800px;&quot;&gt;
&lt;table style=&quot;border:1px solid black;width:100%;&quot;&gt;
&lt;tr&gt;
&lt;th style=&quot;border-bottom: 1px solid black; text-align:left;&quot;&gt;Contact Name&lt;/th&gt;
&lt;th style=&quot;border-bottom: 1px solid black; text-align:left;&quot;&gt;Recency Score&lt;/th&gt;
&lt;th style=&quot;border-bottom: 1px solid black; text-align:left;&quot;&gt;Frequency Score&lt;/th&gt;
&lt;th style=&quot;border-bottom: 1px solid black; text-align:left;&quot;&gt;Monetary Score&lt;/th&gt;
&lt;th style=&quot;border-bottom: 1px solid black; text-align:left;&quot;&gt;Engagement Score&lt;/th&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttTableRow</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;tr style=&quot;background-color: {!ffBackgroundColor}; border: 1px solid {!ffBackgroundColor};&quot;&gt;
&lt;td style=&quot;padding:2px;&quot;&gt;&lt;a href=&quot;{!ffBaseURL}{!Loop_Primary_Contacts.Id}&quot;&gt;{!Loop_Primary_Contacts.Name}&lt;/a&gt;&lt;/td&gt;
&lt;td style=&quot;padding:2px; min-width:140px;&quot;&gt;{!Loop_Primary_Contacts.Recency_Value__c}&lt;/td&gt;
&lt;td style=&quot;padding:2px;&quot;&gt;{!Loop_Primary_Contacts.Frequency_Value__c}&lt;/td&gt;
&lt;td style=&quot;padding:2px;&quot;&gt;{!Loop_Primary_Contacts.Monetary_Score__c}&lt;/td&gt;
&lt;td style=&quot;padding:2px;&quot;&gt;{!Loop_Primary_Contacts.Engagement__c}&lt;/td&gt;
&lt;/tr&gt;</text>
    </textTemplates>
    <variables>
        <name>ContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ffRecipientEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaEmailTableBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vaRowNumber</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
