force-app/main/default/flows/Update_2nd_to_Last_Gift_Amount_and_2nd_to_Last_Gift_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>Last_Gift_Amount_Changed</name>
        <label>Last Gift Amount Changed?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.npo02__LastCloseDate__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.npo02__LastCloseDate__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <interviewLabel>Update 2nd to Last Gift Amount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Last Gift Amount Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Update_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X2nd_to_Last_Gift_Amount__c</field>
            <value>
                <elementReference>$Record__Prior.npo02__LastOppAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X2nd_to_Last_Gift_Date__c</field>
            <value>
                <elementReference>$Record__Prior.npo02__LastCloseDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact</name>
        <label>Update Contact</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>X2nd_to_Last_Gift_Amount__c</field>
            <value>
                <elementReference>$Record__Prior.npo02__LastOppAmount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>X2nd_to_Last_Gift_Date__c</field>
            <value>
                <elementReference>$Record__Prior.npo02__LastCloseDate__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Last_Gift_Amount_Changed</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>x2ndtoLastGiftAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
