force-app/main/default/flows/X2nd_to_Last.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Update2nd</name>
        <label>Update2nd</label>
        <locationX>168</locationX>
        <locationY>531</locationY>
        <assignmentItems>
            <assignToReference>GetAccount.X2nd_to_Last_Gift_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.npo02__LastOppAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetAccount.X2nd_to_Last_Gift_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetAccount.X2nd_to_Last_Gift_Date__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <interviewLabel>2nd to Last {!$Flow.CurrentDateTime}</interviewLabel>
    <label>2nd to Last</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>162</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update2nd</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_ID_18__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>43</locationX>
        <locationY>76</locationY>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
